<div class="task">
  <div class="name">
    <%= task.name %>
  </div>
  <div>
    <%= form_tag rakeleak.run_task_path(task.name), remote: true do %>
      <% task.arg_names.each do |arg| %>
        <%= text_field_tag arg, nil, placeholder: arg %>
      <% end %>
      <%= submit_tag 'Run', disable_with: 'Running...', class: 'button' %>
    <% end %>
  </div>
  <div class="comment">
    <%= task.comment %>
  </div>
  <div class="result">
    <div class="msg"></div>
  </div>
  <div class="output"></div>
</div>
